.header {
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  color: #000000de;
}

.subheader {
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  color: #000000de;
}

.navbar {
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000000de;
  font-size: 14px;
  padding: 8px;
}


.paragraph {
  margin-bottom: 16px;
}

.created {
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  color: #0000008A;
}

body {
    color: #000000de;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #ffffff;
}

